<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105787338956-dr9dipjehhfvt0l8k9rfvrusq9op4cpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105787338956-dr9dipjehhfvt0l8k9rfvrusq9op4cpv</string>
	<key>API_KEY</key>
	<string>AIzaSyDkGgMMbMecW319ycb4PLek4bxRrNgW1RE</string>
	<key>GCM_SENDER_ID</key>
	<string>105787338956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashleycanty.ThinkersDelight</string>
	<key>PROJECT_ID</key>
	<string>thinkersdelight-s4lh3</string>
	<key>STORAGE_BUCKET</key>
	<string>thinkersdelight-s4lh3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105787338956:ios:d96a31345507db76</string>
	<key>DATABASE_URL</key>
	<string>https://thinkersdelight-s4lh3.firebaseio.com</string>
</dict>
</plist>